body {
  background-image: url("../img/asphalt_bg.png");
}

h1, a, label {
  color: white;
}

h1 {
  padding-bottom: 30px;
}

header {
  display: flex;
  justify-content: center;
}

main {
  margin-left: 25%;
}

.logo {
  font-family: "xtreem_medium_personal_useRg";
  font-size: 5em;
  margin-right: 2rem;
}

/* Barra de Navegação */
.navbar-nav {
  font-size: 1.5em;
}

.navbar-nav>a {
  margin-right: 2rem;
}

/* História */
.historia-txt {
  width: 37%;
  margin-left: 2rem;
  color: white;
}

.img-mestre img {
  width: 300px;
  height: auto;
  border-radius: 10%;
}

a.fab {
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

/* Galeria */
.galeria {
  margin-bottom: 20px;
}

.col {
  max-width: 33%;
  margin-bottom: 15px;
}

.row {
  margin-right: 0;
}

/* Contato */
.contato {
  font-size: 1.2rem;
  padding-bottom: 30px;
  width: 66%;
}

.btn {
  margin-left: 43%;
  margin-top: 20px;
}

/* Rodapé */
.rodape {
  width: 100%;
  font-family: "xtreem_medium_personal_useRg";
  font-size: 300%;
}

.fa-github {
  margin-left: 2.3rem;
}

.rodape a:hover {
  text-decoration: none;
}